/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body
{
position: absolute;
width: 1440px;
height: 2639px;
background: #FFFFFF;
}
header
{
display: flex;
justify-content: space-around;
align-items: center;
width: 1439.54px;
height: 174px;
left: 0px;
top: 0px;
padding: 65px 165px;
gap: 224px;
  
} 
.links
{
    list-style-type: none;
    display: flex;
}

.logo
{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;
}
.links li
{
    text-align: center;
    width: 5em;
}

.links a{
text-decoration: none;
font-family: 'Be Vietnam Pro', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 13px;
color: #242E52;
}

.btn-nav 
{
display: flex;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;
width: 134px;
height: 44px;
background: #F3603B;
box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
border-radius: 50px;
/* Propiedades fuente boton */
font-family: 'Be Vietnam Pro', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 13.1806px;
line-height: 19px;
display: flex;
align-items: center;
color: #FFFFFF;
}

/* Secction MAIN1 */
.main1
{
position: absolute;
width: 1129px;
height: 525px;
left: 165px;
top: 213px;
background: #E5E5E5;
display: flex;
justify-content:space-around;
}
/* Section Titulo */
.titulo
{
    
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

/* Titulo H1 */
h1
{
width: 480px;
font-family: 'Be Vietnam Pro', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 58px;
line-height: 66px;
display: flex;
align-items: center;
letter-spacing: -0.035em;
color: #232C50;
}
/* Parrafo descripcion titulo */
.titulo span
{
width: 380px;
font-family: 'Be Vietnam Pro', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16.5584px;
line-height: 157.1%;
display: flex;
align-items: center;
color: #000000;
}

/* MAIN2 */
.main2
{
position: absolute;
width: 1111px;
height: 549px;
left: 165px;
top: 837px;
display: flex;
justify-content: space-around;
}
.texto-whats
{
display: flex;
flex-direction: column;
gap: 2.5em;

}
.texto-whats h2
{
width: 500px;
height: 88px;
   
font-family: 'Be Vietnam Pro', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 114.6%;
display: flex;
align-items: center;
color: #232851;
}
.texto-whats span
{
width: 337px;
height: 88px;

font-family: 'Be Vietnam Pro', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 151.1%;
display: flex;
align-items: center;
color: #000000;
}

/* COLUMNA TEXTO BOTOTNES */
.texto-botones
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* flex-wrap: wrap; */
  
   
}
.fila-titulo1,.fila-titulo2,.fila-titulo3
{
    display: flex;
    
    
}
.btn1,.btn2,.btn3
{
display: flex;
/* justify-content: center; */

padding: 10px 25px;
/* gap: px; */

/* width: 70px;
height: 43px; */

background: #F3603B;
border-radius: 30px;

/* FUENTE BOTON */
font-family: 'Be Vietnam Pro', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 23px;
display: flex;
align-items: center;
color: #FFFFFF;

}
.fila-titulo1 h3, .fila-titulo2 h3, .fila-titulo3 h3
{
font-family: 'Be Vietnam Pro', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 23px;
display: flex;
align-items: center;
letter-spacing: -0.015em;
color: #323851;
}
.texto-titulo1, .texto-titulo2, .texto-titulo3
{

font-family: 'Be Vietnam Pro', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16.2984px;
line-height: 26px;
display: flex;
align-items: center;
letter-spacing: -0.01em;
color: #B3B2B7;
}
.texto-titulo1
{
    width: 437px;
    height: 104px;
}
.texto-titulo2
{
width: 458px;
height: 104px;
}
.texto-titulo3
{
width: 423px;
height: 104px;
}
/* MAIN3 */
.main3
{
position: absolute;
width: 1298px;
height: 478px;
left: 71px;
top: 1510px;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
}
.tarjetas
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.tarjeta-anisha, .tarjeta-ali, .tarjeta-richard
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #FAFAFA;
   
width: 445px;
height: 219px;
left: 924px;
top: 1680px;

}
.main3 h2
{
font-family: 'Be Vietnam Pro', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 39.2143px;
line-height: 156.6%;
display: flex;
align-items: center;
letter-spacing: -0.01em;
color: #242E53;
}

.main3 h3
{
font-family: 'Be Vietnam Pro', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 16.0714px;
line-height: 156.6%;
display: flex;
align-items: center;
letter-spacing: -0.01em;
color: #3F4868;
}
.main3 span 
{
    /* width: 390px;
    height: 78px; */
    font-family: 'Be Vietnam Pro', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 156.6%;
     
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #B9B9C1;

}
/* MAIN4 - ORANGE BOX */
.main4
{
     
position: absolute;
width: 1440px;
height: 224px;
top: 2167.5px;
background: #F3613C;
display: flex;
justify-content: space-around;
align-items: center;
}
.main4 h2
{
width: 438px;
height: 96px;
font-family: 'Be Vietnam Pro', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;
display: flex;
align-items: center;
letter-spacing: -0.005em;
color: #FFFFFF;
}
.main4 button
{
display: flex;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;
width: 134px;
height: 44px;
background: #FFFFFF;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
border-radius: 50px;
/* FUENTE BOTON ORANGE */

font-family: 'Be Vietnam Pro', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 13.1806px;
line-height: 19px;
display: flex;
align-items: center;
color: #F3603B;

}
/* FOOTER */
footer
{

    position: absolute;
    width: 1439px;
    height: 247px;
    left: 0px;
    top: 2392px;
    background: #1E1E26;
}
